@model IEnumerable<Data.Models.Accounts.sdtoLoanRepayment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoanDetails.ChequeDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepaymentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrincipalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepaymentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PendingPrincipalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChequeDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoanDetails.ChequeDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepaymentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrincipalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepaymentAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PendingPrincipalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChequeDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LoanRepaymentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoanRepaymentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LoanRepaymentId })
        </td>
    </tr>
}

</table>
