@model IEnumerable<Data.Models.Accounts.sdtoLoanRepayment>

@{
    ViewBag.Title = "Loan Repayment List";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.RepaymentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrincipalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepaymentAmount)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </th>
       
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.RepaymentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrincipalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepaymentAmount)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMode)
        </td>
        
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LoanRepaymentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoanRepaymentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LoanRepaymentId })
        </td>
    </tr>
}

</table>
