@model Data.Models.Accounts.sdtoAccountBook

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sdtoAccountBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountBookType.AccountBookType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountBookType.AccountBookType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountHead.AccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountHead.AccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUser.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUser.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedByUser.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedByUser.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedByUser.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedByUser.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankInterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankInterest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankCharges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptVoucherPrefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptVoucherPrefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptVoucherSuffix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptVoucherSuffix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentVoucherPrefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentVoucherPrefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentVoucherSuffix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentVoucherSuffix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountBookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
