@model LoanManagementSystem.Models.sdtoUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Executive Details</h2>

<div> 
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacts.Telephone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacts.Telephone1)
        </dd>

       
         
        

        
 

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
