@model LoanManagementSystem.Models.sdtoUser

@{
    ViewBag.Title = "Executive Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Executive Details</h2>*@

<div> 
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Address.Address1)*@
            <label>Address</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAddress.Address1)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Contacts.Telephone1)*@ 
            <label>Contact No</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacts.Telephone1)
        </dd>

       
         
        

        
 

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
