@model LoanManagementSystem.Models.sdtoUser

@{
    ViewBag.Title = "Delete Member";
    
}

@*<h2>Delete Member</h2>*@

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <h4>Communication Address</h4>
        <dt>
            @Html.DisplayNameFor(model => model.UserAddress.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAddress.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAddress.Address2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserAddress.Address2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserAddress.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAddress.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAddress.Post)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserAddress.Post)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAddress.DistrictId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserAddress.DistrictId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacts.Telephone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacts.Telephone1)
        </dd>

        <h4>Permanent Address</h4>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentAddress.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentAddress.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentAddress.Address2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermanentAddress.Address2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermanentAddress.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentAddress.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentAddress.Post)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermanentAddress.Post)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentAddress.DistrictId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermanentAddress.DistrictId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermanentContacts.Telephone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentContacts.Telephone1)
        </dd>


        <h4>Guaranter Details</h4>

        <dt>
            @Html.DisplayNameFor(model => model.GuaranterName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuaranterName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuaranterAddress.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuaranterAddress.Address1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuaranterContacts.Telephone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuaranterContacts.Telephone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
