@model LoanManagementSystem.Models.sdtoViewReportFilter

@{
    ViewBag.Title = "Home Page - Dashboard";
}

<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var datepc = $('.date-picker');
            datepc.datepicker({
                format: 'yyyy.M.dd',
                startDate: '-3d',
                //showOn: "both",
                buttonImageOnly: true,
                buttonImage: "calendar.gif",
                buttonText: "Calendar",
                regional: ["en-US"]
            });
        });

        function Search() {
            $(document).ready(function () {
                // prepare the data

                var UserIds = new Array();
                var LoanIds = new Array();
                var DepositIds = new Array();
                var startDate = "";
                var endDate = "";
                var status = new Array();
                var MixedFilter = "";

                startDate = $('#txtStartDate').val();
                endDate = $('#txtEndDate').val();
                MixedFilter = $('#txtMiscFilter').val();
                var selectedMembers = $('input[type=checkbox].checkbox-list-members:checked')
                for (i = 0; i < selectedMembers.length; i++) {
                    UserIds.push($(selectedMembers[i]).val());
                }
                var selectedLoans = $('input[type=checkbox].checkbox-list-loans:checked')
                for (i = 0; i < selectedLoans.length; i++) {
                    LoanIds.push($(selectedLoans[i]).val());
                }
                var selectedDeposits = $('input[type=checkbox].checkbox-list-deposits:checked')
                for (i = 0; i < selectedDeposits.length; i++) {
                    DepositIds.push($(selectedDeposits[i]).val());
                }
                var selectedStatus = $('input[type=checkbox].checkbox-list-status:checked')
                for (i = 0; i < selectedStatus.length; i++) {
                    status.push($(selectedStatus[i]).val());
                }

                var postData = {
                    CompanyId: "1",
                    StartDate: startDate,
                    EndDate: endDate,
                    MemberIds: UserIds.toString(),
                    StatusIds: status.toString(),
                    DepositIds: DepositIds.toString(),
                    LoanIds: LoanIds.toString(),
                    MiscFilter: MixedFilter,
                    Members: { PostedItems: { Ids: UserIds, Values: UserIds.toString() } }
                };

                console.log(postData);

                var source =
                {
                    dataType: 'json',
                    //traditional:true,
                    contentType: 'application/json',
                    dataFields: [
                        { name: 'DepositId', type: 'number' },
                        { name: 'UserId', type: 'number' },
                        { name: 'DepositAmount', type: 'number' },
                        { name: 'InteresRate', type: 'number' },
                        //{ name: 'InstallmentAmount', type: 'number' },
                        { name: 'MaturityDate', type: 'date' },
                        { name: 'MatureAmount', type: 'number' },
                        { name: 'TotalWithdrawnAmountPerDeposit', type: 'number' },
                        { name: 'TotalWithdrawnAmountPerUser', type: 'number' },
                        { name: 'BalanceDepositAmount', type: 'number' },
                        //{ name: 'BalanceLoanInstallments', type: 'number' },
                        { name: 'TotalInterestPaidAmountPerDeposit', type: 'number' },
                        { name: 'TotalInterestPaidAmountPerUser', type: 'number' },
                        //{ name: 'TotalInstallments', type: 'number' },
                        { name: 'FirstName', type: 'string' },
                        { name: 'LastName', type: 'string' },
                        { name: 'FatherName', type: 'string' },
                        { name: 'GuaranterName', type: 'string' },
                        { name: 'UserAddress', type: 'string' },
                        { name: 'UserPhone', type: 'string' },
                        { name: 'UserMobile', type: 'string' },
                        { name: 'UserEmail', type: 'string' },
                        { name: 'UserPermanentAddress', type: 'string' },
                        { name: 'PermanentPhone', type: 'string' },
                        { name: 'PermanentMobile', type: 'string' },
                        { name: 'PermanentEmail', type: 'string' }
                    ],
                    id: 'DepositId',
                    url: '/Reports/DepositSummaryInfo',
                    data: postData
                };

                var linkDeposit = function (row, column, value) {
                    var html = '<b><a target="_blank" href="/Deposit/Withdrawals?DepositId=' + value + '">' + value + '</a>';
                    return html;
                }
                var dataAdapter = new $.jqx.dataAdapter(source);
                // create Tree Grid
                var gridInfo = $("#dataTableDeposit").jqxDataTable(
                {
                    width: 450,
                    source: dataAdapter,
                    //theme: 'arctic',
                    theme: 'energyblue',
                    pageSize: 5,
                    sortable: true,
                    filterable: true,
                    pageable: true,
                    columns: [
                      //{ text: 'User Id', dataField: 'UserID', width: 120 },
                      { text: 'Deposit#', dataField: 'DepositId', width: 120, cellsRenderer: linkDeposit },
                      { text: 'First Name', dataField: 'FirstName', width: 160 },
                      { text: 'Last Name', dataField: 'LastName', width: 160 },
                      { text: 'Total Amount Paid On Deposit', dataField: 'TotalWithdrawnAmountPerDeposit', width: 150 },
                      { text: 'Total Amount Paid By User', dataField: 'TotalWithdrawnAmountPerUser', width: 150 },
                      { text: 'Total Interest Amount Paid On Loan', dataField: 'TotalInterestPaidAmountPerDeposit', width: 150 },
                      { text: 'Total Interest Amount Paid By User', dataField: 'TotalInterestPaidAmountPerUser', width: 150 }
                    ]
                });

                // prepare the data
                var source =
                {
                    dataType: 'json',
                    //traditional:true,
                    contentType: 'application/json',
                    dataFields: [
                        { name: 'LoanId', type: 'number' },
                        { name: 'InstallmentAmount', type: 'number' },
                        { name: 'TotalPaidAmountPerLoan', type: 'number' },
                        { name: 'TotalPaidAmountPerUser', type: 'number' },
                        { name: 'BalanceLoanAmount', type: 'number' },
                        { name: 'BalanceLoanInstallments', type: 'number' },
                        { name: 'TotalInterestPaidAmountPerLoan', type: 'number' },
                        { name: 'TotalInterestPaidAmountPerUser', type: 'number' },
                        { name: 'TotalInstallments', type: 'number' },
                        { name: 'FirstName', type: 'string' },
                        { name: 'LastName', type: 'string' },
                    ],
                    data: postData,
                    id: 'LoanId',
                    url: '/Reports/LoanSummaryInfo'
                };

                var linkLoan = function (row, column, value) {
                    var html = '<b><a target="_blank" href="/LoanRepayments/Index?LoanId=' + value + '">' + value + '</a>';
                    return html;
                }
                var dataAdapter = new $.jqx.dataAdapter(source);
                // create Tree Grid
                var gridInfo = $("#dataTableLoan").jqxDataTable(
                {
                    width: 450,
                    source: dataAdapter,
                    theme: 'arctic',
                    pageSize: 5,
                    sortable: true,
                    filterable: true,
                    pageable: true,
                    columns: [
                      //{ text: 'User Id', dataField: 'UserID', width: 120 },
                      { text: 'Loan', dataField: 'LoanId', width: 120, cellsRenderer: linkLoan },
                      { text: 'First Name', dataField: 'FirstName', width: 160 },
                      { text: 'Last Name', dataField: 'LastName', width: 160 },
                      { text: 'Father Name', dataField: 'FatherName', width: 150 },
                      { text: 'Loan Amount', dataField: 'LoanAmount', width: 150 },
                      { text: 'Total Installments', dataField: 'TotalInstallments', width: 150 },
                      { text: 'Pending Installments', dataField: 'BalanceLoanInstallments', width: 150 },
                      { text: 'Interest Rate', dataField: 'InteresRate', width: 150 },
                      { text: 'Installment Amount', dataField: 'InstallmentAmount', width: 150 },
                      { title: 'Total Amount Paid On Loan', text: 'Total Amount Paid On Loan', dataField: 'TotalPaidAmountPerLoan', width: 150 },
                      { text: 'Total Amount Paid By User', dataField: 'TotalPaidAmountPerUser', width: 150 },
                      { text: 'Total Interest Amount Paid On Loan', dataField: 'TotalInterestPaidAmountPerLoan', width: 150 },
                      { text: 'Total Interest Amount Paid By User', dataField: 'TotalInterestPaidAmountPerUser', width: 150 },
                      { text: 'Guaranter', dataField: 'GuaranterName', width: 150 },
                      { text: 'Communication Address', dataField: 'UserAddress', width: 150 },
                      { text: 'Phone', dataField: 'UserPhone', width: 150 },
                      { text: 'Permanent Address', dataField: 'UserPermanentAddress', width: 150 },
                      { text: 'Permanent Address Phone', dataField: 'PermanentPhone', width: 150 },
                    ]
                });
            });

            return false;
        }
    </script>
}

 @using (Html.BeginForm("Index", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.CompanyId) 
<div class="col-md-12">
    <div class="col-md-3 form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Members, new { @class = "control-label" })
                <br />
                @Html.CheckBoxListFor(model => model.Members.PostedItems.Ids,
                model => model.Members.Items,
                fruit => fruit.Value,
                fruit => fruit.Text,
                model => model.Members.SelectedItems,
                MvcCheckBoxList.Model.Position.Vertical, x => new { @id = "cblMembers", @class = "control-label checkbox-list-members" })
                @Html.ValidationMessageFor(m => m.Members)
            </div>
        </div>
    </div>
    <div class="col-md-3 form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Status, new { @class = "control-label" })
                <br />
                @Html.CheckBoxListFor(model => model.Status.PostedItems.Ids,
                model => model.Status.Items,
                fruit => fruit.Value,
                fruit => fruit.Text,
                model => model.Status.SelectedItems,
                MvcCheckBoxList.Model.Position.Vertical, x => new { @id = "cblStatus", @class = "control-label checkbox-list-status" })
                @Html.ValidationMessageFor(m => m.Members)
            </div>
        </div>
    </div>
    <div class="col-md-3 form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Loans, new { @class = "control-label" })
                <br />
                @Html.CheckBoxListFor(model => model.Loans.PostedItems.Ids,
                model => model.Loans.Items,
                fruit => fruit.Value,
                fruit => fruit.Text,
                model => model.Loans.SelectedItems,
                MvcCheckBoxList.Model.Position.Vertical, x => new { @id = "cblLoans", @class = "control-label checkbox-list-loans" })
                @Html.ValidationMessageFor(m => m.Loans)
            </div>
        </div>
    </div>
    <div class="col-md-3 form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Deposits, new { @class = "control-label" })
                <br />
                @Html.CheckBoxListFor(model => model.Deposits.PostedItems.Ids,
                model => model.Deposits.Items,
                fruit => fruit.Value,
                fruit => fruit.Text,
                model => model.Deposits.SelectedItems,
                MvcCheckBoxList.Model.Position.Vertical, x => new { @id = "cblDeposits", @class = "control-label checkbox-list-deposits" })
                @Html.ValidationMessageFor(m => m.Deposits)
            </div>
        </div>
    </div>
    <div class="col-md-3 form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.StartDate)
                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control date-picker", @placeholder = "Select a start date", @id = "txtStartDate" })
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>
        </div>
    </div>
    <div class="col-md-3 form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.EndDate)
                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control date-picker", @placeholder = "Select a end date", @id = "txtEndDate" })
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>
        </div>
    </div>
    <div class="col-md-3 form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.MiscFilter)
                @Html.TextBoxFor(m => m.MiscFilter, new { @class = "form-control", @placeholder = "Enter a value", @id = "txtMiscFilter" })
                @Html.ValidationMessageFor(m => m.MiscFilter)
            </div>
        </div>
    </div>
    <div class="col-md-3 form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Accounts, new { @class = "control-label" })
                <br />
                @Html.CheckBoxListFor(model => model.Accounts.PostedItems.Ids,
                model => model.Accounts.Items,
                fruit => fruit.Value,
                fruit => fruit.Text,
                model => model.Accounts.SelectedItems,
                MvcCheckBoxList.Model.Position.Vertical, x => new { @class = "control-label checkbox-list-loans" })
                @Html.ValidationMessageFor(m => m.Accounts)
            </div>
        </div>
    </div>
    <div class="col-md-3 form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Show" onclick="return Search()" />
            </div>
        </div>
    </div>
</div>
}
<div class="col-md-12">
    <hr />
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Loan Summary</h4>
            </div>
            <div class="panel-body">
                <div id="dataTableLoan" style="width: 300px; overflow-x: scroll"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Deposit Summary</h4>
            </div>
            <div class="panel-body">
                <div id="dataTableDeposit" style="width: 300px; overflow-x: scroll"></div>
            </div>
        </div>
    </div>
</div>
