@model LoanManagementSystem.Models.sdtoState

@{
    ViewBag.Title = "Add State";
    
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CountryId, new { htmlAttributes = new {  } })
        @Html.HiddenFor(model => model.StateId, new { htmlAttributes = new {  } })
        @Html.HiddenFor(model => model.CreatedBy, new { htmlAttributes = new {  } })
        @Html.HiddenFor(model => model.CreatedOn, new { htmlAttributes = new {  } })        

        <div class="form-group">
            @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CountryId", (SelectList)ViewBag.CountryList, htmlAttributes: new {  @ID = "ddlCountry", onchange = "document.location.href = '/Settings/SaveState?CountryId=' + this.options[this.selectedIndex].value;" })
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StateName, new { htmlAttributes = new {  } })
                @Html.ValidationMessageFor(model => model.StateName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateAbbr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StateAbbr, new { htmlAttributes = new {  } })
                @Html.ValidationMessageFor(model => model.StateAbbr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "StateList", new {CountryId = ViewBag.CountryId})
</div>
