@model IEnumerable<Data.Models.Accounts.sdtoAccountHead>

@{
    ViewBag.Title = "List Account Head";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountType.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacts.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.CreditLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditDays)
        </th>
         
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
         
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contacts.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
         
        <td>
            @Html.DisplayFor(modelItem => item.CreditLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditDays)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountHeadId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountHeadId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountHeadId })
        </td>
    </tr>
}

</table>
