<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Erise Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <title>@ViewBag.Title - Pallikunnel Bankers</title>
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/AnonymousCSS")
    @*@Styles.Render("~/Content/skin")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("/bundles/jqwidgets")
    @Scripts.Render("~/bundles/grid")
    @*@Scripts.Render("~/bundles/layout")*@
    @RenderSection("scripts", required: false)

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    @{
        LoanManagementSystem.Models.sdtoUser UserDetails = UtilityHelper.UserSession.GetSession(UtilityHelper.UserSession.LoggedInUser) as LoanManagementSystem.Models.sdtoUser;
        if (UserDetails == null)
        {
            UserDetails = new LoanManagementSystem.Models.sdtoUser();
        }
    }
    
    <div class="main">
        <h1>Loan Management System</h1>
        <div class="main-info">
            @*<div class="main-pos">
                <span></span>
            </div>*@
            <div class="main-info1">
                @if (ViewBag.ShowHeaderInfo != null && ViewBag.ShowHeaderInfo == true)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info">
                                @*<h4><i class="fa fa-info"></i>Note:</h4>
                                *@
                                @ViewBag.Message
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @*@ViewBag.Title*@
                            </div>
                            <div class="panel-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="main-info2">
            <h3>Sign In</h3>
            <div class="in-form">
                <form>
                    <input type="text" placeholder="Username" required=" ">
                    <input type="password" placeholder="Password" required=" ">
                </form>
                <div class="ckeck-bg">
                    <div class="checkbox-form">
                        <div class="check">
                            <label class="checkbox">
                                <input type="checkbox" name="checkbox" checked=""><i> </i>Remember my Password</label>
                        </div>
                    </div>
                </div>
                <div class="check-sub">
                    <form>
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
        *@
        <div class="copy-right">
            <footer>
                &copy; Developed by <a>
                    <img src="~/Content/images/technocrunch.logo.png" style="width: 100px; height: 25px;" />
                </a>
                @*<span class="lead"><i class="fa "></i>TechnoCrunch Lab!</span>*@
            </footer>
        </div>
    </div>
</body>
</html>
