@model  Data.Models.SysBase.Tree.TreeNode<Data.Models.Accounts.sdtoUrlInfo>
@foreach (var treeNode in Model.Children)
{
    if (treeNode.Children.Count > 0)
    {
        <li>
            <a href='@(string.IsNullOrWhiteSpace(treeNode.NodeElement.Url)? "javascript:void(0);" : Url.Content(treeNode.NodeElement.Url))'>
               <i class="fa fa-home"></i> @treeNode.NodeElement.UrlText <span class="fa fa-chevron-down"></span>
            </a>

            <ul class=nav child_menu" style="display: none">
                <li>
                    @Html.Partial("MenuView", treeNode)
                </li>
            </ul>
        </li>
    }
    else
    {
        <li>
            <a href="@treeNode.NodeElement.Url" >
                @treeNode.NodeElement.UrlText
            </a>
        </li>
    }
}