@model  Data.Models.SysBase.Tree.TreeNode<Data.Models.Accounts.sdtoUrlInfo>
@foreach (var treeNode in Model.Children)
{
    if (treeNode.Children.Count > 0)
    {
        <li>
            <a href="@treeNode.NodeElement.Url" class="fa fa-caret-down">
                @treeNode.NodeElement.UrlText
            </a>

            <ul class=@(treeNode.ParentId == 0 ? "nav nav-third-level" : "nav nav-second-level")>
                <li class=@(treeNode.ParentId == 0 ? "fa header" : "fa")>
                    @Html.Partial("MenuView", treeNode)
                </li>
            </ul>
        </li>
    }
    else
    {
        <li>
            <a href="@treeNode.NodeElement.Url" class="fa">
                @treeNode.NodeElement.UrlText
            </a>
        </li>
    }

}
