@model  Data.Models.SysBase.Tree.TreeNode<Data.Models.Accounts.Schedules.sdtoSchedule>
@foreach (var treeNode in Model.Children)
{
    <ul>
        <li>
            <a href="#">
                @treeNode.NodeElement.ScheduleName
            </a>@Html.ActionLink("Edit", "Edit", new { id = @treeNode.Id }) |
            @Html.ActionLink("Details", "Details", new { id = @treeNode.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = @treeNode.Id })


            @if (treeNode.Children.Count > 0)
            {
                @Html.Partial("TreeView", treeNode)
            }
        </li>
    </ul>
}